<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Registration</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2 class="mb-4 text-center">Admin Registration</h2>
        <form action="/addadmin" method="POST">
          <div class="mb-3">
            <input type="text" class="form-control" id="adminname" name="adminname" placeholder="Admin Name" required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Register</button> &nbsp; &nbsp; 

            <a href="adminpage" class="btn btn-primary">
            Log in Page
            </a>
            
            <br>
            <br>
            <span class="text-success" >{{addmsg}}</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
